@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
}

body {
  font-family: 'Nunito', sans-serif;
  font-weight: 400;
  height: 100vh;
  color: #333;
  background-image: linear-gradient(to right, #6e16bb 0%, #951bff 100%);
  display: flex;
  align-items: center;
  justify-content: center;
}
.natpis{
  display: flex;
  position:absolute;
  align-items: center;
  justify-content: center;
  margin-top:560px;
  margin-left:-40px;
  padding-left:45px;
  text-align:center;
  background-color:#9436c7;
  box-shadow: 0 0 3px;
  color:black;
}

main {
  position: relative;
  width: 100rem;
  height: 60rem;
  background-color: rgba(255, 255, 255, 0.35);
  backdrop-filter: blur(200px);
  filter: blur();
  box-shadow: 0 3rem 5rem rgba(0, 0, 0, 0.25);
  border-radius: 9px;
  overflow: hidden;
  display: flex;
}

.igrac {
  flex: 50%;
  padding: 9rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: all 0.75s;
}


.ime {
  position: relative;
  font-size: 4rem;
  text-transform: uppercase;
  letter-spacing: 1px;
  word-spacing: 2px;
  font-weight: 300;
  margin-bottom: 1rem;
}

.rezultat {
  font-size: 8rem;
  font-weight: 300;
  color: #000000;
  margin-bottom: auto;
}

.igrac--active {
  background-color: rgba(255, 255, 255, 0.4);
}
.igrac--active .ime {
  font-weight: 700;
}
.igrac--active .rezultat {
  font-weight: 400;
}

.igrac--active .trenutno {
  opacity: 1;
}

.trenutno {
  background-color: #9436c7;
  opacity: 0.8;
  border-radius: 20px;
  color: #000000;
  width: 65%;
  padding: 2rem;
  text-align: center;
  transition: all 0.75s;
  box-shadow: 0 0 3px;
}

.trenutno-label {
  text-transform: uppercase;
  margin-bottom: 1rem;
  font-size: 1.7rem;
  color: #000000;
}

.trenutno-rezultat {
  font-size: 3.5rem;
}


.btn {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  color: white;
  background: none;
  border: none;
  font-family: inherit;
  font-size: 1.8rem;
  text-transform: uppercase;
  cursor: pointer;
  font-weight: 400;
  transition: all 0.2s;

  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.6);


  padding: 0.7rem 2.5rem;
  border-radius: 50rem;
  box-shadow: 0 1.75rem 3.5rem rgba(0, 0, 0, 0.1);
}

.btn::first-letter {
  font-size: 2.4rem;
  display: inline-block;
  margin-right: 0.7rem;
}

.btn--novi {
  top: 4rem;
}
.btn--zavrti {
  top: 39.3rem;
}
.btn--zadrzi {
  top: 46.1rem;
}

.btn:active {
  transform: translate(-50%, 3px);
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.15);
}

.btn:focus {
  outline: none;
}

.kockica {
  position: absolute;
  left: 50%;
  top: 16.5rem;
  transform: translateX(-50%);
  height: 10rem;
  box-shadow: 0 2rem 5rem rgba(0, 0, 0, 0.2);
}

.igrac--pobednik {
  background-color: #dddcdc;
}
.igrac--pobednik .trenutno {
  background-color:gold;
}

.igrac--pobednik .ime {
  font-weight: 700;
  color: black;
  text-shadow:0 0 3px gold;
}
.igrac--pobednik .rezultat{
color:black;
text-shadow:0 0 3px gold;

}

.hidden {
  display: none;
}
